<%- include("../templates/MenuAdmin") %>
<div class="container mt-5">
    <form action="/guardarProducto" method="post" enctype="multipart/form-data">
      <div class="card">
          <div class="card-header">
              <h1>Nuevo producto</h1>
          </div>
          <div class="card-body">
              <input class="form-control mb-3" type="text" name="nombre" id="nombre" placeholder="Nombre" autofocus>
              <input class="form-control mb-3" type="text" name="precio" id="precio" placeholder="Precio" >
              <input class="form-control mb-3" type="file" name="foto" id="foto" placeholder="Foto" >
              <input class="form-control mb-3" type="text" name="descripcion" id="descripcion" placeholder="Descripcion">
              <input class="form-control mb-3" type="number" name="status" id="status" min="0" max="1" placeholder="Estado del producto">
          </div>
          <div class="card-footer">
              <button class="form-control btn btn-dark" type="submit">Guardar producto</button>
          </div>
      </div>
    </form>
  </div>
<%- include("../templates/pie") %>